<html>
  <head>
    <title>Meu Primeiro Site</title>
    <link rel="stylesheet" type="text/css" href="static/arquivocss.scss">
    <link rel="shortcut icon" href="{{ url_for('static', filename='raio.ico') }}">
  </head>
  </head>
  <body>
    <!-- Cabeçalho -->
    <h1>Meu Curriculum</h1>
       <p>Meu <b>curriculum</b>em HTML</p>
       <p>
        LEI<br>
        COM<br>
        ATENÇÃO
       </p>
    <h2>Informações Pessoais</h2>
    <h3>Contatos</h3>
    <h3>Endereço</h3>
    <h3>Experiencias Profissional</h3>
    <script src= 'static/arquivojava.js' </script></script>
  </body>
</html>
